.card-container{
    background:paleturquoise;
    border-radius: 5px;
    padding:20px;
    text-align: center;
}
.card-container:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px paleturquoise;
  

}

/*ul li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
  }
  
  ul li a:hover {
    color: #ffee10;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;
  }*/